<a href="https://colab.research.google.com/github/TienLungSun/AI-Lecture-notes/blob/main/%E7%B7%B4%E7%BF%92%20read%20data%20and%20split%20train%20and%20test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

練習 read csv data file and convert to numpy array

In [ ]:
#load data file to colab
from google.colab import files
uploaded = files.upload()

Saving BBS fall risk classification.csv to BBS fall risk classification (1).csv

In [ ]:
fnameLst = list(uploaded.keys())
fname = fnameLst[0]
print(fname)

BBS fall risk classification.csv

In [ ]:
import pandas as pd
df=pd.read_csv(fname)
df.head(3)

   id        dob       date   freq  p1   p2  ...  steps  age  Gender  tug  bbs  y.1
0   1  1944/4/25  2014/8/21  2.285  80  120  ...     13   70       F   11   26    0
1   2  1927/12/1  2014/8/21  1.934  75  118  ...     12   86       F   11   24    0
2   3  1937/9/26  2014/8/21  2.109  80  133  ...     14   76       F   11   22    1

[3 rows x 18 columns]

In [ ]:
df.columns

Index(['id', 'dob', 'date', 'freq', 'p1', 'p2', 'p3', 'p4', 'p5', 'x', 'y',
       'z', 'steps', 'age', 'Gender', 'tug', 'bbs', 'y.1'],
      dtype='object')

In [ ]:
dfx=df[['p1', 'p2', 'p3', 'p4']]
dfx.head(3)

   p1   p2   p3   p4
0  80  120  282  317
1  75  118  263  328
2  80  133  283  318

In [ ]:
dfy=df[['y.1']]
dfy.head(3)

   y.1
0    0
1    0
2    1

In [ ]:
#convert to numpy array
import numpy as np
x = np.array(dfx.values)
y = np.array(dfy.values)
print(x.shape, y.shape)

(85, 4) (85, 1)

練習 leave one out

In [ ]:
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()

In [ ]:
for train_idx, test_idx in loo.split(x):
  print(train_idx.shape, test_idx.shape)
  break

(84,) (1,)

In [ ]:
for train_idx, test_idx in loo.split(x):
  trainx, testx = x[train_idx], x[test_idx]
  trainy, testy = y[train_idx], y[test_idx]
  print(trainx.shape, testx.shape, trainy.shape, testy.shape)
  break

(84, 4) (1, 4) (84, 1) (1, 1)

練習 randomly split

In [ ]:
from sklearn.model_selection import train_test_split
trainX, testX, trainY_hat, testY_hat = train_test_split(x, y, test_size=0.20, random_state=0)
print(trainX.shape, trainY_hat.shape, testX.shape, testY_hat.shape)

(68, 4) (68, 1) (17, 4) (17, 1)